/*fix img size automatic enlargen according to device size, font style: ibm old school*/
*{box-sizing:border-box;}

body{background:linear-gradient(#1E90FF, white,#00BFFF,#1E90FF);font-family:helvetica, Arial;min-width:290px;text-align:center;}

img{width:100%;height:auto;vertical-align:middle;}
.img-member{max-width:80%;}

#navbar{position:fixed;min-width:290px;top:0px;left:0px;width:300px;height:100px;border-right:1px solid black;}

header{margin:10px;font-size:1.8em;font-weight:bold;}

#main-doc header{text-align:left;margin:0;}

#navbar ul{height:88%;padding:0;overflow-y:auto;overflow-x:hidden;}

#navbar li{color:black;border-top:1px solid;list-style:none;position:relative;width:100%;font-weight:bold;}

#navbar a{display:block;padding:10px 30px;color:black;text-decoration:none;cursor:pointer;}

@media only screen and (max-width:815px){
  /* Mobile Phones*/
  #
}